$electric: linear-gradient(90.33deg, #627EE9 2.7%, #E083C7 100.74%);
$bliss: linear-gradient(131.89deg, #F7557C 10.99%, #FFB400 87.18%);
$intel: linear-gradient(131.89deg, #C4C4C4 10.99%, #46AD88 87.18%);

@import "./fonts";